<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>bundleid</key>
        <string>com.ryanparman.terraform-registry</string>
        <key>category</key>
        <string>Internet</string>
        <key>connections</key>
        <dict>
            <key>destinationuid</key>
            <string/>
            <key>modifiers</key>
            <integer>0</integer>
            <key>modifiersubtext</key>
            <string/>
            <key>vitoclose</key>
            <false/>
        </dict>
        <key>createdby</key>
        <string>Ryan Parman</string>
        <key>description</key>
        <string>Search the Terraform Registry for modules.</string>
        <key>disabled</key>
        <false/>
        <key>name</key>
        <string>Terraform Registry</string>
        <key>objects</key>
        <array>
            <dict>
                <key>config</key>
                <dict>
                    <key>alfredfiltersresults</key>
                    <false/>
                    <key>alfredfiltersresultsmatchmode</key>
                    <integer>0</integer>
                    <key>argumenttreatemptyqueryasnil</key>
                    <false/>
                    <key>argumenttrimmode</key>
                    <integer>0</integer>
                    <key>argumenttype</key>
                    <integer>0</integer>
                    <key>browser</key>
                    <string/>
                    <key>escaping</key>
                    <integer>63</integer>
                    <key>keyword</key>
                    <string>tf</string>
                    <key>queuedelaycustom</key>
                    <integer>3</integer>
                    <key>queuedelayimmediatelyinitially</key>
                    <true/>
                    <key>queuedelaymode</key>
                    <integer>0</integer>
                    <key>queuemode</key>
                    <integer>1</integer>
                    <key>runningsubtext</key>
                    <string>Retrieving search suggestions...</string>
                    <key>script</key>
                    <string>bin/tfregistry &#34;{query}&#34;</string>
                    <key>scriptargtype</key>
                    <integer>0</integer>
                    <key>scriptfile</key>
                    <string/>
                    <key>spaces</key>
                    <string/>
                    <key>subtext</key>
                    <string>Search the Terraform Registry for &#34;{query}&#34;…</string>
                    <key>title</key>
                    <string>Terraform Registry</string>
                    <key>type</key>
                    <integer>0</integer>
                    <key>url</key>
                    <string/>
                    <key>utf8</key>
                    <false/>
                    <key>withspace</key>
                    <true/>
                </dict>
                <key>type</key>
                <string>alfred.workflow.input.scriptfilter</string>
                <key>uid</key>
                <string>4FA4F9C8-DC29-4BDA-816D-6CB6514887AD</string>
                <key>version</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>config</key>
                <dict>
                    <key>alfredfiltersresults</key>
                    <false/>
                    <key>alfredfiltersresultsmatchmode</key>
                    <integer>0</integer>
                    <key>argumenttreatemptyqueryasnil</key>
                    <false/>
                    <key>argumenttrimmode</key>
                    <integer>0</integer>
                    <key>argumenttype</key>
                    <integer>0</integer>
                    <key>browser</key>
                    <string/>
                    <key>escaping</key>
                    <integer>0</integer>
                    <key>keyword</key>
                    <string/>
                    <key>queuedelaycustom</key>
                    <integer>0</integer>
                    <key>queuedelayimmediatelyinitially</key>
                    <false/>
                    <key>queuedelaymode</key>
                    <integer>0</integer>
                    <key>queuemode</key>
                    <integer>0</integer>
                    <key>runningsubtext</key>
                    <string/>
                    <key>script</key>
                    <string/>
                    <key>scriptargtype</key>
                    <integer>0</integer>
                    <key>scriptfile</key>
                    <string/>
                    <key>spaces</key>
                    <string/>
                    <key>subtext</key>
                    <string/>
                    <key>title</key>
                    <string/>
                    <key>type</key>
                    <integer>0</integer>
                    <key>url</key>
                    <string>{query}</string>
                    <key>utf8</key>
                    <true/>
                    <key>withspace</key>
                    <false/>
                </dict>
                <key>type</key>
                <string>alfred.workflow.action.openurl</string>
                <key>uid</key>
                <string>35286CAB-25A5-466B-869D-79EE321E12D1</string>
                <key>version</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>readme</key>
        <string>This workflow searches Terraform Module Registry (https://registry.terraform.io) for matching modules.&#xA;&#xA;You can get the source code and updates from https://github.com/skyzyx/terraform-registry.alfredworkflow.</string>
        <key>uidata</key>
        <dict>
        </dict>
        <key>variablesdontexport</key>
        <array>
        </array>
        <key>version</key>
        <string>1.1.0</string>
        <key>webaddress</key>
        <string>https://github.com/skyzyx/terraform-registry.alfredworkflow</string>
    </dict>
</plist>